<?xml version="1.0" ?>
<robot name="Jani" xmlns:xacro="https://www.ros.org/wiki/xacro" >
  <!-- Define color for robot parts -->
  <gazebo reference="Left_wheel">
    <material>Gazebo/Black</material>
  </gazebo>
  <gazebo reference="Right_wheel">
    <material>Gazebo/Black</material>
  </gazebo>
    <gazebo reference="Caster_wheel">
    <material>Gazebo/White</material>
  </gazebo>

    <gazebo reference="Chassis_link">
    <material>Gazebo/Orange</material>
  </gazebo>
  <!-- 
    Now we are ready to add control to our robot. We will add a new element called plugin 
    to our xacro file. We will add a differential drive plugin to our robot. 
    The new tag looks like follows:
  -->
  <gazebo>
    <plugin filename="libgazebo_ros_diff_drive.so" name="jani_Controller">
      <alwaysOn>true</alwaysOn>
      <updateRate>20</updateRate>
      <leftJoint>Left_wheel_joint</leftJoint>
      <rightJoint>Right_wheel_joint</rightJoint>
      <wheelSeparation>0.13</wheelSeparation>
      <wheelDiameter>0.065</wheelDiameter>
      <torque>0.1</torque>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom_link</odometryFrame>
      <robotBaseFrame>Chassis_link</robotBaseFrame>
    </plugin>
  </gazebo>

</robot>