<?xml version="1.0"?>
<robot name="Jani" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  
  <xacro:include filename="$(find jani_bot)/urdf/Jani_macros.xacro" />
 <xacro:include filename="$(find jani_bot)/urdf/Jani_materials.xacro" />
   <!-- <xacro:include filename="$(find jani_bot)/urdf/gazebo.xacro" /> -->

<link name="odom_link"/>

<xacro:Shapes name="base" position_of_joint_from_parent_rpy="0 0 0" position_of_joint_from_parent_xyz="0 0 0.025 "  
              mass="5" parent="odom"  scale="0.001 0.001 0.001  " body_to_joint_xyz="0 0 0" body_to_joint_rpy="0 0 0"
              meshfile="package://autonomous_rover/meshes/base.stl" color="white"/>



<xacro:Wheel name="Left"  position_of_joint_from_parent_xyz="-0.066 -0.04 -0.01"
              color ="red" mass="2" scale="0.001 0.001 0.001  " body_to_joint_xyz= "0 0 0" body_to_joint_rpy="0 0 0"
              meshfile="autonomous_rover/meshes/wheel.stl" />




</robot>
