<?xml version="1.0"?>
<robot name="rover" xmlns:xacro="http://ros.org/wiki/xacro">
<link name="base_footprint">
  <!-- While doing any change we need to do colcon build EVERY SINGLE TIME -->
</link>
  <link name="base">
  
    <visual>
      <geometry>
            <mesh filename="package://autonomous_rover/wheel_s.stl"  />
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
  <inertial>
            <mass value="1.1438" />
            <inertia ixx="0.126" ixy="0.0" ixz="0" 
            iyy="0.416" iyz="0" izz="0.481" />
    </inertial>
    <collision>
      <geometry>
          <box size="0.75 0.4 0.1"/>
      </geometry>
      
    </collision>
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base"/>
    <origin rpy="0 0 0" xyz="0 0 0.135"/>
  </joint>

<!-- 
  <link name="upper_body">
  
    <visual>
      <geometry>
            <mesh filename="package://autonomous_rover/upper_body.stl" scale="0.005 0.005 0.005" />
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1" />
      </material>
    </visual>
  <inertial>
            <mass value="1.1438" />
            <inertia ixx="0.126" ixy="0.0" ixz="0" 
            iyy="0.416" iyz="0" izz="0.481" />
    </inertial>
    <collision>
      <geometry>
          <box size="0.75 0.4 0.1"/>
      </geometry>
      
    </collision>
  </link>

  <joint name="upper_body_joint" type="fixed">
    <parent link="base"/>
    <child link="upper_body"/>
    <origin rpy="1.57 0 0" xyz="0 0.08 0.12"/>
  </joint>

    <link name="camera">
  
    <visual>
      <geometry>
            <mesh filename="package://autonomous_rover/camera.stl" scale="0.005 0.005 0.005" />
      </geometry>
      <material name="while">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  <inertial>
            <mass value="1.1438" />
            <inertia ixx="0.126" ixy="0.0" ixz="0" 
            iyy="0.416" iyz="0" izz="0.481" />
    </inertial>
    <collision>
      <geometry>
          <box size="0.75 0.4 0.1"/>
      </geometry>
      
    </collision>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="upper_body"/>
    <child link="camera"/>
    <origin rpy="1.57  0 1.57" xyz="0 0.15 -0.02"/>
  </joint>


      <link name="lidar">
  
    <visual>
      <geometry>
            <mesh filename="package://autonomous_rover/lidar.stl" scale="0.005 0.005 0.005" />
      </geometry>
      <material name="while">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  <inertial>
            <mass value="1.1438" />
            <inertia ixx="0.126" ixy="0.0" ixz="0" 
            iyy="0.416" iyz="0" izz="0.481" />
    </inertial>
    <collision>
      <geometry>
          <box size="0.75 0.4 0.1"/>
      </geometry>
      
    </collision>
  </link>

  <joint name="lidar_joint" type="fixed">
    <parent link="upper_body"/>
    <child link="lidar"/>
      <origin rpy="0 -1.57 0" xyz="0 0.05 -0.34"/>
  </joint>

  <link name="wheel_right_front">
    <inertial>
            <mass value="2" />
            <inertia ixx="0.126" ixy="0.0" ixz="0" 
            iyy="0.1416" iyz="0" izz="0.12481" />
    </inertial>

    <visual>
      
      <geometry>
        <mesh filename="package://autonomous_rover/wheel.stl"  scale="0.005 0.005 0.005"/> 
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>

    <collision>
    
      <geometry>
          <cylinder radius="0.15" length="0.1"/>
      </geometry>
      <contact_coefficients mu="1" kp="1e+13" kd="1.0"/>
    </collision>
  </link>

  <joint name="wheel_right_front_joint" type="continuous">
  <axis xyz="1 0.0 0.0"/>
    <origin xyz="0.42 0.31 -0.11" rpy="0 0.0 0.0"/>
    <parent link="base"/>
    <child link="wheel_right_front"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>


  <link name="wheel_left_front">
    <inertial>
            <mass value="2" />
            <inertia ixx="0.126" ixy="0.0" ixz="0" 
            iyy="0.1416" iyz="0" izz="0.12481" />
    </inertial>

    <visual>
      
      <geometry>
        <mesh filename="package://autonomous_rover/wheel.stl"  scale="0.005 0.005 0.005"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>

    <collision>
    
      <geometry>
          <cylinder radius="0.15" length="0.1"/>
      </geometry>
      <contact_coefficients mu="1" kp="1e+13" kd="1.0"/>
    </collision>
  </link>

  <joint name="wheel_left_front_joint" type="continuous">
  <axis xyz="1 0.0 0.0"/>
    <origin xyz="-0.42 0.31 -0.11" rpy="0 0.0 3.14"/>
    <parent link="base"/>
    <child link="wheel_left_front"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>



  <link name="wheel_right_back">
    <inertial>
            <mass value="2" />
            <inertia ixx="0.126" ixy="0.0" ixz="0" 
            iyy="0.1416" iyz="0" izz="0.12481" />
    </inertial>

    <visual>
      
      <geometry>
        <mesh filename="package://autonomous_rover/wheel.stl"  scale="0.005 0.005 0.005"/> 
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>

    <collision>
    
      <geometry>
          <cylinder radius="0.15" length="0.1"/>
      </geometry>
      <contact_coefficients mu="1" kp="1e+13" kd="1.0"/>
    </collision>
  </link>

  <joint name="wheel_right_back_joint" type="continuous">
  <axis xyz="1 0.0 0.0"/>
    <origin xyz="0.42 -0.33 -0.11" rpy="0 0.0 0.0"/>
    <parent link="base"/>
    <child link="wheel_right_back"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>


<link name="wheel_left_back">
    <inertial>
            <mass value="2" />
            <inertia ixx="0.126" ixy="0.0" ixz="0" 
            iyy="0.1416" iyz="0" izz="0.12481" />
    </inertial>

    <visual>
      
      <geometry>
        <mesh filename="package://autonomous_rover/wheel.stl"  scale="0.005 0.005 0.005"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>

    <collision>
    
      <geometry>
          <cylinder radius="0.15" length="0.1"/>
      </geometry>
      <contact_coefficients mu="1" kp="1e+13" kd="1.0"/>
    </collision>
  </link>

  <joint name="wheel_left_back_joint" type="continuous">
  <axis xyz="1 0.0 0.0"/>
    <origin xyz="-0.42 -0.33 -0.11" rpy="0 0.0 3.14"/>
    <parent link="base"/>
    <child link="wheel_left_back"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>  -->
</robot>
