<?xml version="1.0"?>

<model>
  <name>green light</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>M Luqman</name>
    <email>luqman@robotisim.com</email>
  </author>

  <author>
    <name>Ap ka apna  Bhara Larka</name>
    <email>@chachu</email>
  </author>

  <description>
    Lights sources to illuminate traffic signals
  </description>

</model>
