<?xml version="1.0"?>

<model>
  <name>Road Track</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>M Luqman</name>
    <email>luqman@robotisim.com</email>
  </author>

  <author>
    <name>Apna Bhara Larka</name>
    <email>@chachu</email>
  </author>

  <description>
    A track creating for Self Driving Car
  </description>

</model>
